<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NINA.StarMessenger.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <NINA.StarMessenger.Settings>
      <setting name="Filter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Temperature" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RotatorPosition" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RotatorMechanicalPosition" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Time" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Duration" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MAD" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StDev" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mean" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RMSRa" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RMSTotal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FocuserPosition" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HFR" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stars" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PushoverApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="PushoverUserKey" serializeAs="String">
        <value />
      </setting>
      <setting name="RMSDec" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Image" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EMailSenderAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="EMailRecipientAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="EMailSMTPHost" serializeAs="String">
        <value />
      </setting>
      <setting name="EMailSMTPPort" serializeAs="String">
        <value />
      </setting>
      <setting name="EMailPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="EMailSMTPUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="Min" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Max" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NtfyTopic" serializeAs="String">
        <value />
      </setting>
      <setting name="NtfyUser" serializeAs="String">
        <value />
      </setting>
      <setting name="NtfyToken" serializeAs="String">
        <value />
      </setting>
      <setting name="NtfyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="NtfyServer" serializeAs="String">
        <value />
      </setting>
      <setting name="Target" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Median" serializeAs="String">
        <value>True</value>
      </setting>
    </NINA.StarMessenger.Settings>
  </userSettings>
</configuration>